<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LifeHacks!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LifeHacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>319E8A3B1D2F12E5001C7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>319E8A4F1D2F12E5001C7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>319E8A5A1D2F12E5001C7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>319E8A701D2F189F001C7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
